.player_name {
    visibility: hidden;
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 16pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.player_score {
    visibility: hidden;
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 28pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

#select_passing_cards_message {
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 16pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.select_passing_card_region {
    position: absolute;
    opacity: 0;
    border-radius: 8px;
    background: #00000022;
    border: 2px solid white;
    width: 110px;
    height: 157px;
}

#confirm_passing_cards_region {
    position: absolute;
    transform: translate(-50%, 0%);
    width: 140px;
    height: 60px;
    visibility: hidden;
    opacity: 0;
}

#confirm_passing_cards_button {
    position: absolute;
    cursor: pointer;
    border:#FFFFFF 2px solid;
    border-radius:8px;
    background:#141414;
    color:white;
    width: 130px;
    height: 50px;
    font-size:14pt;
}

#confirm_passing_cards_button:hover {
    background:#222222;
}

#confirm_passing_cards_shadow {
    position: absolute;
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
    width: 130px;
    height: 50px;
    left: 15px;
    top: 10px;
}

#player_play_prompt {
    position: absolute;
    width: 200px;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 16pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

#moon_shoot_text {
    position: absolute;
    width: 100%;
    top: 15%;
    text-align: center;
    font-size: 24pt;
    text-shadow: 3pt 3pt rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.low_card_text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 16pt;
    text-align: center;
    width: 115px;
    transform: translate(-50%, 0%);
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-focus: none;
}

#low_card_result_message {
    visibility: hidden;
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 600;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#low_card_result_text {
    text-align: center;
    font-size: 16pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.5);
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-focus: none;
}

#low_card_selected_accept_button {
    cursor: pointer;
    border: #FFFFFF 2px solid;
    border-radius: 15px;
    background: #000000;
    color: white;
    min-width: 120px;
    height: 35pt;
    font-size: 20pt;
    margin-top: 10px;
    box-shadow: 10pt 10pt 0pt rgba(0, 0, 0, 0.5);
}

#low_card_selected_accept_button:hover {
    background: #222222;
}

#crib_region {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 169px;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.crib_region_border {
    background: white;
    border-radius: 3px;
}

#crib_region_top_left_side {
    position: absolute;
    left: 0px;
    top:0px;
    width: 4px;
    height: 40px;
}

#crib_region_top_left_top {
    position: absolute;
    left: 0px;
    top:0px;
    width: 30px;
    height: 4px;
}

#crib_region_top_right_top {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 4px;
}

#crib_region_top_right_side {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 4px;
    height: 40px;
}

#crib_region_bottom_right_side {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 4px;
    height: 40px;
}

#crib_region_bottom_right_bottom {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 4px;
}

#crib_region_bottom_left_side {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 4px;
    height: 40px;
}

#crib_region_bottom_left_bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 30px;
    height: 4px;
}

#crib_region_center_text {
    position: absolute;
    font-size: 12pt;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: auto;
}

#crib_region_prompt {
    position: absolute;
    font-size: 8pt;
    text-align: center;
    width: 100%;
    bottom: 0px;
    margin-bottom: 10px;
}

#crib_indicator_card_overlap {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 60px;
    width: 115px;
    text-align: center;
    font-size: 12pt;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
}

#BubbleScoreHeartTemplate {
    visibility: hidden;
    opacity: 0;
}

.BubbleScoreHeart {
    position: absolute;
    width: 112px;
    height: 100px;
    background-image: url('images/score_heart.png');
    text-align: center;
    pointer-events: none;
}

.BubbleScoreHeartsPoints {
    font-size: 22pt;
    line-height: 50px;
    font-weight: bold;
}

#BubbleScoreSpadeTemplate {
    visibility: hidden;
    opacity: 0;
}

.BubbleScoreSpade {
    position: absolute;
    width: 85px;
    height: 100px;
    background-image: url('images/score_spade.png');
    text-align: center;
    pointer-events: none;
}

.BubbleScoreSpadesPoints {
    font-size: 20pt;
    line-height: 50px;
    font-weight: bold;
}

#hint_button {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    border:#FFFFFF 2px solid;
    border-width: 1px;
    border-radius: 7px;
    color:white;
    font-size: 13pt;
    visibility: hidden;
    opacity: 0;
}

#hint_button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#GameOverView {
    z-index: 999;
    width: 340px;
    background:#000000;
	border:#FFFFFF 2px solid;
	border-radius:10px;
	box-shadow: 30px 30px 0px rgba(0,0,0,0.5);
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

#GameOverResultText {
    margin-top: 10px;
    font-size: 24pt;
}

#GameOverSkunkText {
    margin-bottom: 10px;
    font-size: 20pt;
}

#GameOverResultsTable {
    width: 320px;
    margin-left: 10px;
    line-height: 25px;
}

.GameOverViewTableResultBackgroundFill {
    width:200px; 
    height:25px; 
    position:absolute; 
    right:0px; 
    background:rgb(0, 0, 190);
}

.GameoverViewTableResultComputerFill {
    width:100px; 
    height:25px; 
    position:absolute; 
    right:0px; 
    background:rgb(190, 0, 0);
}

.GameOverViewTableResultYouScore {
    width:100px; 
    position:absolute; 
    right:100px; 
    top:0px;
}

.GameOverViewTableResultOppScore {
    width:100px; 
    position:absolute; 
    right:0px; 
    top:0px; 
}

#GameOverSuboptimalButton {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    font-size: 11pt;
    cursor: pointer;
	border:#FFFFFF 2px solid;
	border-radius:10px;
	background:#000000;
	color:white;
}

#GameOverSuboptimalButton:hover { 
    background: #222222;
}

#GameOverSuboptimalPlaysView {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    height: 200px;
    overflow: auto;
    text-align: center;
    font-size: 8pt;
}

.GameOverSuboptimalHeader {
    width: 100%;
    background: #1BA1E2;
    font-size: 11pt;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    display: none;
}

.GameOverSuboptimalPegging {
    width: 100%;
    height: 75px;
    position: relative;
    display: none;
}

.GameOverSuboptimalDiscard {
    width: 100%;
    height: 75px;
    position: relative;
    cursor: pointer;
    display: none;
}

.GameOverSuboptimalDiscard:hover {
    background: #222222;
}

.GameOverSuboptimalDiscard:active {
    transform: scale(0.98);
}

.suboptimalSituation {
    position: absolute;
    width: 130px;
    margin-top: 3px;
}

.suboptimalYouPlayed {
    position: absolute;
    width: 80px;
    margin-left: 145px;
    margin-top: 3px;
}

.suboptimalPlayedLine1 {
    position: absolute;
    width: 40px;
    margin-left: 188px;
    margin-top: 22px;
}

.suboptimalPlayedLine2 {
    position: absolute;
    width: 40px;
    margin-left: 188px;
    margin-top: 37px;
    font-weight: bold;
    font-size: 12pt;
}

.suboptimalPlayedLine3 {
    position: absolute;
    width: 40px;
    margin-left: 188px;
    margin-top: 55px;
}

.suboptimalOptimalPlay {
    position: absolute;
    width: 80px;
    margin-left: 240px;
    margin-top: 3px;
}

.suboptimalOptimalLine1 {
    position: absolute;
    width: 40px;
    margin-left: 283px;
    margin-top: 22px;
}

.suboptimalOptimalLine2 {
    position: absolute;
    width: 40px;
    margin-left: 283px;
    margin-top: 37px;
    font-weight: bold;
    font-size: 12pt;
}

.suboptimalOptimalLine3 {
    position: absolute;
    width: 40px;
    margin-left: 283px;
    margin-top: 55px;
}

.suboptimalDivider {
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: 73px;
    background: white;
}

#game_over_close_button {
    position: absolute;
    top: 0px;
    right: 0px;
}